<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Card</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container" style="padding: 60px">
        <div class="card">
            <form action="http://localhost:3000/pay" method="POST" id="myform">
                <div class="card-body">
                    <table>
                        <tr>
                            <td>
                                <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username">
                            </td>

                            <td>
                                <button type="button" class="btn btn-primary" id="getAmnt">Get Amount</button>
                            </td>
                        </tr>
                        <tr>
                            <table>
                                <tr>
                                    <td>
                                        <h1 style="font-style:bold">$</h1>
                                    </td>
                                    <td>
                                        <h1 style="font-style:bold" name="amt" id="amt_txt">0.00</h1>
                                    </td>
                                </tr>
                            </table>
                        </tr>
                    </table>
                    <hr>
                    <button type="button" class="btn btn-primary" id="paypalBtn">Pay with PayPal</button>
                    <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_100x26.png" alt="PayPal Logo">
                </div>
            </form>
        </div>
    </div>

</body>
<script>
    document.getElementById("paypalBtn").disabled = true;
    const getAmountBtn = document.getElementById('getAmnt');
    getAmountBtn.addEventListener('click', function (e) {
        let uname = document.getElementById('username').value;
        console.log(JSON.stringify({ username: uname }))
        if (uname.length == 0) {
            alert("enter username");
        } else {
            fetch('/getAmount', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    username: uname
                })
            }).then((res) => {
                if (res.ok) {
                    let resValue;
                    res.json().then((data) => {
                        resValue = data;
                        document.getElementById("amt_txt").innerHTML = data.amount;
                        document.getElementById("paypalBtn").disabled = false;
                    }).catch((err) => console.log(err))
                    return;
                }
            }).catch((error) => console.log(error));
        }

    });

    var form = document.getElementById("myform");
    document.getElementById("paypalBtn").addEventListener("click", function () {
        form.submit();
    });

</script>

</html>